
/* main */

main {
  margin: 0rem 10%;
  margin-top: 3rem;
}

.content-richtlinen {
  display: flex;
  gap: 3rem;
}

.progresion {
  width: 100%;
  max-width: 400px;
}

.title {
  padding: 2rem 0;
}

.kennisbank-informatie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  padding-top: 2rem;

}

.informatie-box {
  width: 100%;
  color: var(--black);
  text-decoration: none;
  padding: 1rem 2rem;
  box-shadow:   ;
  border-radius: 15px;
  cursor: pointer;
}

.informatie-box:hover {
  background: linear-gradient(
    315deg,
    var(--dark-magenta) 0%,
    var(--magenta) 100%
  );
  color: var(--white);
}

.informatie-box img {
  width: 100%;
}

.checklist-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
  color: var(--black);
  text-decoration: none;

  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
}

.checklist-box:hover {
  background: linear-gradient(
    315deg,
    var(--dark-magenta) 0%,
    var(--magenta) 100%
  );
  color: var(--white);
}

.checklist-box img {
  width: 100%;
}

.intro,
.ankerpoint {
  margin-bottom: 3rem;
}

.Richtlijn {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.ankerpoint {
  list-style: none;
  font-size: 1.2rem;
}

.ankerpoint a {
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.ankerpoint ul a {
  transition: all 0.3s ease 0s;
}

.ankerpoint li {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  list-style-position: inside;
  text-decoration: underline;
  text-underline-position: under;
}

.ankerpoint ul a:hover {
  color: var(--magenta);
}

@media screen and (min-width: 600px) {
  .informatie {
    flex-wrap: nowrap;
    overflow: auto;
    padding: 2rem 1rem;
  }

  .informatie-box {
    min-width: 250px;
  }

  .informatie-box img {
    height: 200px;
  }
}

@media screen and (min-width: 1500px) {
  .informatie-box img {
    height: 300px;
  }
}

@media screen and (min-width: 1000px) {
  .checklist-box {
    flex-wrap: nowrap;
  }
}
/* details summery */

details {
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #0022;
  background-color: var(--white);
}

details [open] {
  padding-bottom: 20px;
}

details > summary {
  background: linear-gradient(
    315deg,
    var(--dark-magenta) 0%,
    var(--magenta) 100%
  );
  color: var(--white);
  border-radius: 10px;
  padding: 1rem;
}

details summary h3 {
  color: var(--white);
}

details[open] > summary {
  background-color: var(--magenta);
  color: var(--white);
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

details summary h3 {
  font-size: 1.2rem;
}

details > summary > * {
  display: inline-block;
}

.checkmark {
  margin-right: 1rem;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
  float: right;
  transition: box-shadow 0.3s;
  box-shadow: 0px 0px 100px #0022;
  border-radius: 10px;
  background: var(--white);
  cursor: pointer;
  border: 0;
  appearance: none;
  /*-webkit-appearance: none;*/
}

input:checked {
  box-shadow: inset 0 0 0 20px rgb(53, 253, 53);
}

/* details content */
.detail-list {
  padding: 0.5rem 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.img-detail-list {
  width: 100%;
  margin-bottom: 3rem;
}

.detail-button {
  width: auto;
  padding: 1rem;
  margin: 1rem 1rem 0 0;
  background-color: var(--magenta);
  border: none;
  font-size: 1rem;
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
}

.detail-list li {
  margin: 1rem 0;
  font-size: 1.2rem;
}

/* footer */

footer {
  background: var(--magenta);
  background: linear-gradient(
    315deg,
    var(--dark-magenta) 0%,
    var(--magenta) 100%
  );
  position: relative;
  color: var(--white);
}

.footer-content {
  margin: 0rem 10%;
  margin-top: 3rem;
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding-bottom: 2rem;
}

.regio-logo {
  display: none;
}

.contact {
  width: 100%;
}

.footer-bericht {
  width: 100%;
}

.vervoerregio-path-box-footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
}

.responsive-width-footer {
  width: 10%;
  height: 3rem;
  background-color: var(--white);
}

.width-footer {
  width: 40%;
  height: 3rem;
  background-color: var(--white);
}

.vervoerregio-path-footer {
  width: 6rem;
  height: 3rem;
  background-color: var(--white);
  /* clip-path: url(./the-client-case/assets/svg-path.svg); */
  clip-path: path("M 96 0 L 0 0 C 48 0 48 48 96 48");
  /* clip-path: ellipse(20px 20px at 20% 20%); */
}

.contact {
  flex-direction: column;
  align-items: center;
}

.ul-footer li {
  text-decoration: none;
  margin-bottom: 1rem;
  list-style-position: inside;
}

.footer-bericht label {
  font-size: 1.1rem;
  font-weight: 600;
}

input[type="text"] {
  width: 100%;
  padding: 12px 1rem;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

input[type="email"] {
  width: 100%;
  padding: 12px 1rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  font-size: 1.1rem;
}

textarea {
  width: 100%;
  height: 8rem;
  padding: 12px 1rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "fira-sans", sans-serif;
  resize: vertical;
  font-size: 1.1rem;
}
.footer-bericht input[type="submit"] {
  background-color: var(--white);
  color: var(--magenta);
  padding: 8px 1rem;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border: 4px solid var(--white);
  transition: 0.5s;
}

.footer-bericht input[type="submit"]:hover {
  border: 4px solid var(--white);
  color: var(--white);
  background-color: transparent;
}

.sub-footer {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 10%;
  padding-bottom: 1rem;
}

.sub-footer p {
  padding-bottom: 1rem;
}

.sub-footer a {
  padding: 1rem;
  display: block;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sub-footer a:hover,
.sub-footer a:focus {
  transform: scale(1.2);
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 1170px) {
  .sub-footer {
    display: flex;
  }

  .sub-footer p {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 783px) {
  .sub-footer li {
    display: inline;
  }
}

@media screen and (min-width: 400px) {
  .sub-footer li {
    display: inline-block;
  }
}

@media screen and (min-width: 600px) {
  .footer-content {
    flex-wrap: nowrap;
  }

  .contact {
    display: flex;
  }

  .contact {
    width: 50%;
  }

  .footer-bericht {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .footer-naam-form {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .regio-logo {
    display: block;
    width: 50%;
  }
  .regio-logo img {
    max-height: 400px;
    width: 100%;
  }

  .regio-logo {
    width: 25%;
  }

  .contact {
    width: 30%;
  }

  .footer-bericht {
    width: 50%;
  }
}
